In [1]:
name='Sekar'
text='Hello Sekar'

In [2]:
name='Sekar'
text='Hello %s'%name

In [3]:
text

'Hello Sekar'

In [5]:
name='Sekar'
text='Hello %s'%name

In [12]:
name1=input('Enter Your Number')
text1="hello %s"%name1

Enter Your NumberBharath

In [13]:
text1

'hello Bharath'

In [9]:
text

'hello Sekar'

In [15]:
height=float(input('Enter your age'))
text="hello %.4f"%height

Enter your age32

In [16]:
text

'hello 32.0000'

In [17]:
height=float(input('Enter your age'))
text="hello %.2f"%height

Enter your age29

In [18]:
text

'hello 29.00'

In [19]:
name="Sekar"
age=30
text="%s is %d year old"%(name,age)

In [20]:
text

'Sekar is 30 year old'

In [21]:
name="Sekar"
age=30
text="hello %s %d year old"%(name,age)

In [22]:
text

'hello Sekar 30 year old'

In [23]:
name="Sekar"
age=30
text="{} is {} year old".format(name,age)

In [24]:
text

'Sekar is 30 year old'

In [26]:
name="Sekar"
age=30
text="{name} is {age} year old".format(name=name,age=age)

In [27]:
text

'Sekar is 30 year old'

In [ ]:
height=3456.78999000
text="My height is {:}"